.btn-primary{
    padding: 6px 23px !important;
    margin-left: auto !important;
    border-radius: 29px !important;
    //border-color: #f2f2f3 !important;
    //background-color: #ff9000 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    &-autorise{
        margin: 5px auto !important;
        padding: 6px 40px !important;
    }
}