@media( max-width:905px ) {
    .error__block{
        .text-success{
            margin-left: 0;
        }
        span{
            display: none;
        }
    }
}
@media( max-width: 767px ){
    .graph_title{
        font-size: 24px;
    }
}
@media( max-width: 590px ){
    .graph{
        &_title{
            font-size: 20px;
        }
        &_wrapper{
            margin-top: 20px;
        }
    }
    .error__block{
        margin: 70% auto;
    }
    .graph_title{
        font-size: 23px;
    }
    .table th {
        width: 100% !important;
        font-size: 11px;
        display: none;
        &:first-child {
            display: block;
        }
    }
    .table td{
        font-size: 12px;
        display: block;
        &:first-child {
            background: #f2f2f3;
        }
    }
    .modules{
        &_name{
            text-align: center;
        }
    }
    .table-xs_element_wrapper span {
        font-size: 13px;
    }
}
@media( max-width: 525px ){
    .graph{
        &_title{
            font-size: 18px;
        }
        &_wrapper{
            padding-right: 10px;
        }
    }
    .btn-primary{
        font-size: 14px !important;
        &-autorise {
            padding: 6px 25px !important;
        }
    }
}
@media( max-width: 420px ){
    .graph{
        &_title{
            font-size: 14px;
        }
    }
    .table-xs{
        &_name{
            font-size: 12px;
        }
        &_element_wrapper{
            span{
                font-size: 13px;
            }
        }
    }
    .login_title, .registration_title  {
        padding-top: 10px;
        font-size: 30px;
    }
    .registration_button-wrapper {
        flex-direction: column;
    }
    .btn-primary{
        &-autorise {
            padding: 6px 22px !important;
        }
    }
    select{
        width: 50%;
    }
}
@media( max-width: 350px ){
    .table-xs_element_wrapper{
        .bold_downloads, .bold_price{
            font-weight: 700;
            font-size: 12px;
            }
    }
    .graph{
        &_title{
            font-size: 14px;
        }
    }
    .table-xs{
        &_name{
            font-size: 12px;
        }
    }
}