@media( max-width:905px ) {
    .error__block{
        .text-success{
            margin-left: 0;
        }
        span{
            display: none;
        }
    }
}
@media( max-width: 767px ){
    .graph_title{
        font-size: 24px;
    }
}
@media( max-width: 590px ){
    .graph_title{
        font-size: 23px;
    }
    .table th {
        width: 100% !important;
        font-size: 11px;
        display: none;
        &:first-child {
            display: block;
        }
    }
    .table td{
        font-size: 12px;
        display: block;
        &:first-child {
            background: #f2f2f3;
        }
    }
    .modules{
        &_name{
            text-align: center;
        }
    }
}
@media( max-width: 590px ){
    .graph{
        &_title{
            font-size: 20px;
        }
        &_wrapper{
            margin-top: 20px;
        }
    }
    .error__block{
        margin: 70% auto;
    }
}
@media( max-width: 525px ){
    .graph{
        &_title{
            font-size: 18px;
        }
        &_wrapper{
            padding-right: 10px;
        }
    }
}
@media( max-width: 420px ){
    .btn-primary{
        font-size: 13px !important;
    }
    .graph{
        &_title{
            font-size: 14px;
        }
    }
    .table-xs{
        &_name{
            font-size: 12px;
        }
        &_element_wrapper{
            span{
                font-size: 12px;
            }
        }
    }
}