.table-xs{
    margin-top: 10px;
    box-shadow: 0 2px 10px 0 #d9dee8;
    &_item{
        position: relative;
        padding-left: 10px;
        border: solid 1px #f2f2f3;
    }
    &_name{
        padding-left: 30px;
        padding-right: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    &_element_wrapper{
        display:flex;
        justify-content: center;
        margin-top: 6px;
        span{
            margin-left: 20px;
            padding-bottom: 6px;
            font-size: 14px;
        }
    }
    &_colorline{
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        padding-left: 20px !important;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1px;
        border: solid 1px #3f4b86;
        &_inactive{
            background-color: aliceblue !important;
            border: 1px solid;
            border-color: black;
            border-radius: 1px;
            border: solid 1px #3f4b86;
        }
    }
    ul{
        padding-left: 0;
    }
    li{
        list-style-type: none; 
        background-color: white;
    }
}