@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap);
.wrapp {
  min-height: 100vh;
  padding: 15px;
  background-color: #f2f2f3;
}

.table {
  margin-top: 10px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 10px;
  background-color: white;
  box-shadow: 0 2px 10px 0 #d9dee8;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: white;
  width: 100%;
}
.table_wrapp {
  margin-top: 10px;
  margin-bottom: 0;
  background-color: white;
  width: 100%;
}

.table th {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  color: #333333;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #3f4b86 !important;
  border-top: none !important;
}

.table .tr {
  border-bottom-width: 1px !important;
}

tbody tr:hover {
  background: #eef4ff;
}

.table td {
  border-bottom-width: 0px;
  border-bottom-width: 1px !important;
  padding: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}

.error__block {
  margin: 30% auto;
  text-align: center;
  width: 50%;
  font-weight: 600;
}

.text-success {
  margin-left: 20px;
}

.modules {
  position: relative;
}
.modules_color-wrapper {
  max-width: 50px;
  top: 50%;
  transform: translateY(0%);
}
.modules_name {
  margin-left: 50px;
  margin-left: 47px;
  text-align: start;
}
.modules_colorline {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  padding-left: 20px;
  height: 24px;
  width: 24px;
  padding-left: 24px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  border: solid 2px #3f4b86;
}
.modules_colorline_inactive {
  background-color: aliceblue !important;
  border: 2px solid;
  border-color: black;
  border-radius: 2px;
  border: solid 2px #3f4b86;
}

.table-xs {
  margin-top: 10px;
  box-shadow: 0 2px 10px 0 #d9dee8;
}
.table-xs_item {
  position: relative;
  padding-left: 10px;
  border: solid 1px #f2f2f3;
}
.table-xs_name {
  padding-left: 30px;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.table-xs_element_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.table-xs_element_wrapper span {
  margin-left: 20px;
  padding-bottom: 6px;
  font-size: 14px;
}
.table-xs_colorline {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  padding-left: 20px !important;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1px;
  border: solid 1px #3f4b86;
}
.table-xs_colorline_inactive {
  background-color: aliceblue !important;
  border: 1px solid;
  border-color: black;
  border-radius: 1px;
  border: solid 1px #3f4b86;
}
.table-xs ul {
  padding-left: 0;
}
.table-xs li {
  list-style-type: none;
  background-color: white;
}

.graph {
  margin-top: 10px;
  padding: 10px 34px;
  background-color: white;
  box-shadow: 0 2px 10px 0 #d9dee8;
}
.graph_title {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #36353a;
}
.graph_wrapper {
  margin-top: 10px;
  padding-bottom: 10px;
  max-height: 600px;
  min-width: 120px;
  min-height: 150px;
}
.graph_wrapper > div {
  max-height: 600px;
}

#line-chart {
  width: 100% !important;
  height: 100% !important;
}

.btn-primary {
  padding: 6px 23px !important;
  margin-left: auto !important;
  border-radius: 29px !important;
  border-color: #f2f2f3 !important;
  background-color: #ff9000 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.btn-primary-autorise {
  margin: 5px auto !important;
  padding: 6px 40px !important;
}

@media (max-width: 905px) {
  .error__block .text-success {
    margin-left: 0;
  }
  .error__block span {
    display: none;
  }
}
@media (max-width: 767px) {
  .graph_title {
    font-size: 24px;
  }
}
@media (max-width: 590px) {
  .graph_title {
    font-size: 23px;
  }

  .table th {
    width: 100% !important;
    font-size: 11px;
    display: none;
  }
  .table th:first-child {
    display: block;
  }

  .table td {
    font-size: 12px;
    display: block;
  }
  .table td:first-child {
    background: #f2f2f3;
  }

  .modules_name {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .graph_title {
    font-size: 20px;
  }
  .graph_wrapper {
    margin-top: 20px;
  }

  .error__block {
    margin: 70% auto;
  }
}
@media (max-width: 525px) {
  .graph_title {
    font-size: 18px;
  }
  .graph_wrapper {
    padding-right: 10px;
  }
}
@media (max-width: 420px) {
  .btn-primary {
    font-size: 13px !important;
  }

  .graph_title {
    font-size: 14px;
  }

  .table-xs_name {
    font-size: 12px;
  }
  .table-xs_element_wrapper span {
    font-size: 12px;
  }
}
.form-check-input:checked {
  background-color: #ff9000 !important;
  border-color: #ff9000 !important;
}

.login_title {
  text-align: center;
}
.login_button-wrapper {
  display: flex;
}

.registration_title {
  text-align: center;
}
.registration_button-wrapper {
  display: flex;
}

.container {
  max-width: 1540px !important;
}
